@charset "UTF-8";

// Variables, Mixins, Functions, etc.
@import "./app/modules";

// HTML Resets & Normalisation
@import "../node_modules/baseguide/scss/baseguide/vendor/normalize";
@import "../node_modules/baseguide/scss/baseguide/components/base";
@import "./shared/generic/reset";

// Vendor Styles
@import "../node_modules/baseguide/scss/baseguide/components/spacing";
@import "../node_modules/baseguide/scss/baseguide/components/typography";
// @import "../node_modules/baseguide/scss/baseguide/components/forms";
// @import "../node_modules/baseguide/scss/baseguide/components/buttons";
// @import "../node_modules/baseguide/scss/baseguide/components/tables";
// @import "../node_modules/baseguide/scss/baseguide/components/helpers";
// @import "../node_modules/baseguide/scss/baseguide/components/print";

// Brand Styles
@import "./shared/generic/helpers";
@import "./shared/generic/fonts";
@import "./shared/generic/layout";
@import "./shared/generic/text";

// APP specific overrides
// @import "../../socco/responsive/style/generic/fonts
// @import "../../socco/responsive/style/generic/typography";
@import "./app/app";
@import "./app/generic/icons";
@import "./app/components/header";
@import "./app/components/nav";
@import "./app/components/card";
@import "./app/components/footer";

.content-wrapper {
  display: flex;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 816px;
  max-width: 100%;
}

.content__heading {
  //   flex-grow: 1;
  & h1 {
    font-family: $font-family-body;
    font-size: 28px;
    line-height: 32px;
    margin-top: 40px;
    margin-bottom: 0;
  }
}
.content__description {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 16px;
  color: $color__grey-500-low;
}

section.basic-info,
section.preferences,
section.password {
  margin: 2rem 0;
}
section.basic-info {
  & .col:first-child {
    padding-right: 2rem;
    border-right: 1px solid $color__white-low;
  }
}
section.preferences {
  & .col:first-child {
    padding-right: 2rem;
    border-right: 1px solid $color__white-low;
  }
  & .col:last-child {
    padding-left: 2rem;
  }
}

section.password {
  & .col:nth-child(2) {
    font-size: 13px;
    line-height: 16px;
    color: $color__grey-500-high;
  }
  & .col:last-child {
    text-align: end;
    font-size: 13px;
    line-height: 16px;
    color: $secondary-link-color;
    cursor: pointer;
  }
}

.fields {
  display: flex;
  flex-direction: column;
  & > .field:last-child {
    border: none;
  }
  & > .field {
    position: relative;
    align-items: center;
    padding: 20px 16px;
    display: flex;
    border-bottom: 1px solid $color__white-low;

    &:hover {
      background-color: $color__white-low;
    }

    & > .field__left {
      width: 104px;
      font-size: 13px;
      line-height: 16px;
      color: $color__grey-500-high;
    }
    & > .field__right {
      flex-grow: 1;
      color: $color__black-high;
    }

    & > .field__icon {
      cursor: pointer;
      width: 7.5px;
      height: 11.5px;
      position: absolute;
      display: inline-block;
      right: 15px;
    }

    @include mq($until: md) {
      flex-direction: column;
      align-items: flex-start;
      padding: 1rem 0;

      & > .field__left {
        margin-bottom: 0.5rem;
      }
    }
  }
}

.profile-pic-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;

  & > .profile-pic-wrapper__ctas {
    display: flex;
    & > .cta {
      margin-top: 16px;
      font-size: 1rem;
      line-height: 1rem;
    }
    & > .cta.left {
      cursor: pointer;
      padding-right: 7.5px;
      color: $secondary-link-color;
      border-right: 1px solid $color__white-low;
    }
    & > .cta.right {
      cursor: pointer;
      padding-left: 7.5px;
      color: $color__grey-500-high;
    }
  }
  @include mq($until: md) {
    padding-left: 0;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid $color__white-low;
    margin-bottom: 1rem;
  }
}

@include mq($until: md) {
  .content {
    margin: 0 1.5rem;
  }
  .fields > .field:hover {
    background-color: inherit;
  }
  .fields > .field > .field__icon {
    bottom: 23px;
  }
  section.basic-info {
    & .col:first-child {
      padding-right: 0;
      border-right: none;
      justify-content: center;
    }
  }
  section.basic-info .card__content {
    & .row {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  section.preferences {
    & .col:first-child {
      padding-right: 0;
      border: none;
    }
    & .col:last-child {
      padding-left: 0;
      padding-right: 0;
    }
  }
  section.password {
    & .col {
      margin-bottom: 1rem;
      line-height: 1rem;
    }
    & .col:nth-child(2) {
      padding: 0;
    }
    & .col:last-child {
      text-align: left;
      padding: 0;
    }
  }
}
