// TODO: remove icons in a separate file

.icon_user {
  background-image: url("/imgs/user.png");
}
.icon_company {
  background-image: url("/imgs/comapany.png");
}
.icon_order {
  background-image: url("/imgs/order.png");
}
.icon_help {
  background-image: url("/imgs/help_center.png");
}
.icon_arrow_right {
  background-image: url("/imgs/arrow_right.png");
}
.icon_close {
  background-image: url("/imgs/close.png");
}
