@import "./colors";
@import "./typography";

// -------------------------------------- //
// Page
// -------------------------------------- //

$body-bg-color: $color__white-high !default;

$body-text-color: $color__black-low !default;
$body-link-color: $color__primary !default;
$body-link-color--hover: $color__primary !default;

$secondary-link-color: $color__pink !default;
