// -------------------------------------- //
// Layout related styles & media queries
// -------------------------------------- //

// @import "~baseguide/scss/baseguide/grid/gutter";
// @import "~baseguide/scss/baseguide/grid/container";
// @import "~baseguide/scss/baseguide/grid/row";
// @import "~baseguide/scss/baseguide/grid/column";

@import "../../../node_modules/baseguide/scss/baseguide/grid/gutter";
@import "../../../node_modules/baseguide/scss/baseguide/grid/container";
@import "../../../node_modules/baseguide/scss/baseguide/grid/row";
@import "../../../node_modules/baseguide/scss/baseguide/grid/column";

// -------------------------------------- //
// Grid Layout
// -------------------------------------- //

// These are an extended output from `@import "~baseguide/scss/baseguide/grid/classes";`

.container {
  @include container;
  max-width: 1440px;
  // padding: $grid-margin;
  position: relative;
}

// Grid Column
.col {
  @include column-base;
}

// Grid Row
.row {
  @include row;
  & > .col:first-child {
    padding-left: 0;
  }
  & > .col:last-child {
    padding-right: 0;
  }
}

// Generate the grid for each breakpoint
@include loop-breakpoints($inclusive: true) {
  @include loop-columns($breakpoint);
}

.full-bleed {
  position: relative;
  @include full-bleed;
}

// -------------------------------------- //
// Floats
// -------------------------------------- //

.clearfix {
  @include clearfix;
}
